/* INDICE */
/* 1- Básico */
/* 2- Header */
/* 3- Footer */
/* 4- Main */
/* 5- Registro y Login */
/* 6- Administrador */
/*    a. Asignar Coins */
/*    b. */
/*    c. */
/* 7- Usuario */

/* ----------------------------------------------- */
/* BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F1FF83;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #F1FF83;
}

/* Body */
body {
    background-color: #171717;
    color: white;
}

/* ----------------------------------------------- */
/* HEADER */
.header {
    background-color: #171717;
    color: #ffffff;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header .navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 1.5rem 0;
}

.header .navegacion .anclaLogo {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}

.header .navegacion .anclaLogo:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
}

.header .navegacion .listaNav {
    list-style: none;
    display: flex;
    align-items: center;
}

.header .navegacion .listaNav .listaItem {
    margin-right: 20px;
}

.header .navegacion .listaNav .listaItem .linkNav {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.header .navegacion .listaNav .listaItem .linkNav:hover {
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(241, 255, 131, 0.8);
    border-radius: 5px;
}

.header .navegacion .listaNav .listaItem .linkNav.iniciarSesion,
.header .navegacion .listaNav .listaItem .linkNav.cerrarSesion {
    background-color: #171717;
    color: white;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.header .navegacion .listaNav .listaItem .linkNav.iniciarSesion:hover,
.header .navegacion .listaNav .listaItem .linkNav.cerrarSesion:hover {
    background-color: #F1FF83;
    color: #171717;
}

/* Media query para pantallas de hasta 768px */
@media (max-width: 768px) {
    .header {
        height: initial;
    }

    .header .navegacion {
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
        row-gap: 20px;
    }

    .header .navegacion .anclaLogo {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .header .navegacion .listaNav {
        padding: initial;
    }

    .header .navegacion .listaNav .listaItem .linkNav {
        font-weight: 400;
        margin-right: initial;
        font-size: 1rem;
        padding: 0.2rem;
    }
}

/* ----------------------------------------------- */
/* FOOTER */
.footer {
    padding: 20px;
    background-color: #171717;
    color: #ffffff;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer .navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .navegacion .listaNav {
    list-style: none;
    display: flex;
    align-items: center;
}

.footer .navegacion .listaNav .listaItem {
    margin-left: 20px;
}

.footer .navegacion .listaNav .listaItem .linkNav {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}

.footer .navegacion .listaNav .listaItem .administradorPeliculas {
    background-color: #171717;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.footer .flechaArriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
}

.footer .aportes,
.footer .video {
    font-size: 14px;
}

/* Media query para pantallas de hasta 768px */
@media (max-width: 768px) {
    .footer {
        height: initial;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    .footer .listaNav {
        flex-direction: column;
        row-gap: 15px;
    }

    .footer .listaNav .listaItem .linkNav {
        font-size: 1rem;
    }

    .footer .listaNav .listaItem .administradorPeliculas {
        padding: 0.5rem 0.8rem;
    }
}

/* ----------------------------------------------- */
/* MAIN */
.main .sectionPrincipal {
    color: white;
    background: linear-gradient(to right top, #0000006a, #0000006a), url(../images/pages/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sectionPrincipal .tituloPrincipal {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.sectionPrincipal .subtituloPrincipal {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.sectionPrincipal .botonRegistrarse {
    background-color: #F1FF83;
    color: #171717;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.sectionPrincipal .botonRegistrarse:hover {
    background-color: #171717;
    color: #F1FF83;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.main .buscadorPrincipal {
    background-color: #171717;
    color: white;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buscadorPrincipal .tituloSection {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 2.5rem;
}

.buscadorPrincipal .buscadorPeliculas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.buscadorPeliculas .inputBuscador {
    border: 2px solid white;
    border-radius: 25px;
    color: #000000;
    font-size: 1.2rem;
    height: 50px;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;
    width: 500px;
}

.buscadorPeliculas .botonBuscador {
    background-color: #F1FF83;
    display: inline-block;
    color: white;
    height: 50px;
    margin: 20px 10px;
    padding: 0 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid white;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.buscadorPeliculas .botonBuscador:hover {
    background-color: #F1FF83;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.main .peliculasTendencia {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.peliculasTendencia .tituloSection {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.peliculasTendencia .parrafoSection {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.peliculasTendencia .peliculas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.peliculas a {
    text-decoration: none;
    color: white;
}

.pelicula {
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.pelicula .imgTendencia {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.pelicula .tituloPelicula {
    z-index: 2;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    max-width: 20rem;
    width: 100%;
    transform: translateY(-50%) translateX(-50%);
}

.pelicula .tituloPelicula h4 {
    font-size: 1.6rem;
    font-weight: bold;
    opacity: 0;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    transition: opacity 0.5s ease-in-out;
}

.pelicula:hover {
    box-shadow: 0 0 30px #F1FF83CD;
    transform: scale(0.9);
}

.pelicula:hover .tituloPelicula {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pelicula:hover .tituloPelicula h4 {
    width: 100%;
    padding: 0.5rem;
    opacity: 1;
}

.peliculasTendencia .boton {
    border: 1px solid white;
    box-sizing: content-box;
    margin-top: 50px;
    margin-left: 20px;
    background-color: #F1FF83;
    color: white;
    padding: 1rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 60px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.peliculasTendencia .boton:hover {
    background-color: #F1FF83;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.main .peliculasAclamadas {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
}

.peliculasAclamadas .tituloSection {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.peliculasAclamadas .aclamadas {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 40px 0px;
}

.aclamadas .peliculaItem {
    border-radius: 25px;
    width: 170px;
    min-width: 170px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.peliculaItem .imgAclamada {
    border-radius: 5%;
    width: 95%;
    height: 95%;
    object-fit: cover;
}

/* Media query para pantallas de hasta 768px */
@media (max-width: 768px) {
    .main .sectionPrincipal {
        height: 60vh;
    }

    .main .sectionPrincipal .tituloPrincipal {
        font-size: 2.5rem;
    }

    .main .sectionPrincipal .subtituloPrincipal {
        font-size: 1.5rem;
    }

    .main .sectionPrincipal .botonRegistrarse {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
    }

    .main .buscadorPrincipal {
        height: 30vh;
    }

    .main .buscadorPrincipal .tituloSection {
        font-size: 1.6rem;
    }

    .main .buscadorPrincipal .buscadorPeliculas .inputBuscador {
        font-size: 1rem;
        height: 40px;
        width: 300px;
    }

    .main .buscadorPrincipal .buscadorPeliculas .botonBuscador {
        height: 40px;
        padding: 0 15px;
        font-size: 1rem;
    }

    .main .peliculasTendencia {
        width: 95%;
    }

    .main .peliculasTendencia .tituloSection {
        font-size: 2rem;
    }

    .main .peliculasTendencia .peliculas {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main .peliculasTendencia .peliculas a {
        width: 100%;
    }

    .main .peliculasTendencia .peliculas a .pelicula {
        width: 100%;
        height: 500px;
    }

    .main .peliculasTendencia .peliculas a .pelicula .tituloPelicula h4 {
        font-size: 1rem;
    }

    .main .peliculasTendencia .boton {
        padding: 0.8rem 0.8rem;
        font-size: 0.8rem;
    }

    .main .peliculasAclamadas .tituloSection {
        font-size: 2rem;
    }

    .main .peliculasAclamadas .aclamadas .peliculaItem {
        width: 150px;
        min-width: 150px;
        font-size: 15px;
        margin-left: 20px;
    }

    .main .peliculasAclamadas .aclamadas .peliculaItem .imgAclamada {
        width: 90%;
        height: 90%;
    }
}

/* ----------------------------------------------- */
/* REGISTRO Y LOGIN*/
.bodyRegistrarse {
    height: 100vh;
    background: linear-gradient(to right top, #24242473, #24242473), url(../images/pages/bg-register.png);
    background-size: cover;
    background-position: center;
}

.bodyRegistrarse .headerRegistrarse {
    color: #ffffff;
    height: 8vh;
    padding: 30px;
}

.bodyRegistrarse .headerRegistrarse .anclaLogo {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}

.bodyRegistrarse .headerRegistrarse .anclaLogo:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
}

.bodyRegistrarse .main .seccionRegistrarse {
    background-color: rgb(42, 42, 42);
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 1.2rem;
}

.bodyRegistrarse .main .seccionRegistrarse .tituloRegistrarse {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.bodyRegistrarse .main .seccionRegistrarse .formRegistro {
    width: 100%;
    padding: 40px;
}

.bodyRegistrarse .main .seccionRegistrarse .formRegistro input:not(.check):not(.boton),
.bodyRegistrarse .main .seccionRegistrarse .formRegistro select {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    padding: 0px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 2px solid #F1FF83;
    background-color: #333333;
    outline: none;
    color: rgb(255, 255, 255);
}

.bodyRegistrarse .main .seccionRegistrarse .formRegistro .error-text,
.bodyRegistrarse .main .seccionRegistrarse .formRegistro .error-message {
    color: #ff0000;
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 10px;
}

.bodyRegistrarse .main .seccionRegistrarse .formRegistro .botonRegistro {
    width: 87% !important;
    box-sizing: content-box !important;
    background-color: #F1FF83 !important;
    border: 2px solid #F1FF83 !important;
    color: #171717 !important;
    padding: 1rem 1rem !important;
    border-radius: 5px !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
}

.bodyRegistrarse .main .seccionRegistrarse .formRegistro .botonRegistro:hover {
    background-color: #171717 !important;
    border: 2px solid #171717 !important;
    color: #F1FF83 !important;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.bodyRegistrarse .main .seccionRegistrarse .formRegistro .ayuda {
    margin-top: 40px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #787878;
    font-weight: bold;
}

.bodyRegistrarse .main .seccionRegistrarse .formRegistro .ayuda:hover {
    color: #F1FF83;
}

/* Media query para pantallas de hasta 768px */
@media (max-width: 768px) {
    .bodyRegistrarse .headerRegistrarse {
        padding: 20px !important;
    }

    .bodyRegistrarse .headerRegistrarse .anclaLogo {
        font-size: 1rem !important;
    }

    .bodyRegistrarse .main .seccionRegistrarse {
        width: 95% !important;
        padding: 20px 15px !important;
        height: auto;
    }

    .bodyRegistrarse .main .seccionRegistrarse .tituloRegistrarse {
        font-size: 2rem !important;
        text-align: center;
    }

    .bodyRegistrarse .main .seccionRegistrarse .formRegistro {
        width: 100% !important;
        padding: 20px 0px !important;
        text-align: center !important;
    }

    .bodyRegistrarse .main .seccionRegistrarse .formRegistro input:not(.check):not(.boton),
    .bodyRegistrarse .main .seccionRegistrarse .formRegistro select {
        width: 90% !important;
        height: 35px !important;
        font-size: 1rem !important;
        margin: 10px auto !important;
    }

    .bodyRegistrarse .main .seccionRegistrarse .formRegistro .botonRegistro {
        margin: 20px auto;
        width: 80%;
        padding: 0.8rem;
        font-size: 1rem;
    }

    .bodyRegistrarse .main .seccionRegistrarse .formRegistro .ayuda {
        font-size: 1.2rem;
        display: block;
        margin-top: 30px;
    }
}

/* ----------------------------------------------- */
/* ADMINISTRADOR */
.mainUser {
    color: #ffffff;
    background: linear-gradient(to right top, #0000008a, #0000008a), url(../images/pages/admin-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #171717;
    gap: 20px;
}

.mainUser .tituloPrincipal {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.mainUser .navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainUser .navegacion .listaNav {
    list-style: none;
    display: flex;
    align-items: center;
}

.mainUser .navegacion .listaNav .listaItem {
    margin-left: 20px;
}

.mainUser .navegacion .listaNav .listaItem .linkNav {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}

.mainUser .navegacion .listaNav .listaItem .administradorPeliculas {
    background-color: #171717;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-size: 50px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.mainUser .navegacion .listaNav .listaItem .administradorPeliculas:hover {
    background-color: #F1FF83;
    color: #171717;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.formUser {
    padding: 8px 12px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    justify-content: center;
}

/* Media query para pantallas de hasta 768px */
@media (max-width: 768px) {
    .mainUser {
        height: auto;
        padding: 15px;
        gap: 15px;
    }

    .mainUser .tituloPrincipal {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .mainUser .navegacion {
        flex-direction: column;
        row-gap: 15px;
    }

    .mainUser .navegacion .listaNav {
        flex-direction: column;
        row-gap: 10px;
    }

    .mainUser .navegacion .listaNav .listaItem {
        margin-left: 0;
    }

    .mainUser .navegacion .listaNav .listaItem .linkNav {
        font-size: 1rem;
    }

    .mainUser .navegacion .listaNav .listaItem .administradorPeliculas {
        font-size: 30px;
        padding: 0.4rem 0.8rem;
    }

    .formUser {
        font-size: 1rem;
        padding: 6px 10px;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}

/* Asignar Coins */
.formulario {
    margin: 0 auto 20px auto;
    width: 37%;
    background-color: rgb(42, 42, 42);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.etiqueta {
    margin-right: 10px;
    font-weight: bold;
}

.mensaje {
    margin-top: 20px;
    font-style: italic;
    color: #F1FF83;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seleccion {
    margin-right: 20px;
    padding: 5px;
    border-radius: 30px;
    border: solid 2px #ffb183;
}

.filtrar {
    padding: 6px 12px;
    background-color: #171717;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.filtrar:hover {
    cursor: pointer;
    background-color: #F1FF83;
    color: #171717;
}

.button-plus {
    padding: 6px 12px;
    background-color: #4CAF50;
    color: #ffffff;
    border: solid 3px #4CAF50;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
}

.button-plus:hover {
    background-color: #ffffff;
    color: #4CAF50;
    cursor: pointer;
}

.button-minus {
    padding: 6px 12px;
    background-color: #d9534f;
    color: #ffffff;
    border: solid 3px #d9534f;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
}

.button-minus:hover {
    background-color: #ffffff;
    color: #d9534f;
    cursor: pointer;
}

.number {
    font-weight: bold;
    font-size: 19px;
    border: none;
    background-color: transparent;
    width: 35px;
    text-decoration: none;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    background-color: transparent;
    border: none;
    text-align: center;
}

.formularioTabla {
    width: 100%;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

th,
td {
    padding: 10px;
    border: 1px solid #171717;
    text-align: left;
    color: #171717;
    text-align: center;
}

th {
    background-color: #F1FF83;
    color: #171717;
    justify-content: center;
    align-items: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.botonMail {
    padding: 8px 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 32px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.botonMail:hover {
    opacity: 0.8;
}

/* Media query para pantallas de hasta 768px */
@media (max-width: 768px) {
    .formulario {
        width: 95%;
        flex-direction: column;
        padding: 20px 15px;
        font-size: 1rem;
        gap: 15px;
    }

    .etiqueta {
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .mensaje {
        font-size: 1rem;
        text-align: center;
    }

    .seleccion {
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }

    .filtrar {
        width: 100%;
        font-size: 1rem;
    }

    .button-plus,
    .button-minus {
        font-size: 1rem;
        padding: 6px 10px;
        width: 100%;
    }

    .number {
        font-size: 1rem;
        width: 100%;
    }

    input[type="number"] {
        font-size: 1rem;
        width: 100%;
    }

    .formularioTabla {
        width: 100%;
        overflow-x: auto;
    }

    .tabla {
        width: 100%;
        font-size: 0.9rem;
        table-layout: fixed;
        word-wrap: break-word;
    }

    .tabla th,
    .tabla td {
        padding: 6px;
        font-size: 0.9rem;
    }

    .botonMail {
        font-size: 24px;
        width: 100%;
        padding: 10px;
    }
}
































/* PÁGINA */

.tituloSection {
    text-align: center;
    font-size: 38px;
    padding: 24px;
}

.subtituloSection {
    text-align: center;
    font-size: 24px;
    padding: -18px;
    margin-top: -10px;
}

.productosTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.productosTable th {
    font-size: 26px;
    background-color: #171717;
}

.productosTable td {
    font-size: 22px;
}

.productosTable th,
.productosTable td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.productosTable td img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.productosTable .botonModificar,
.productosTable .botonEliminar,
.botonModificar,
.botonEliminar,
.botonEnviar {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    margin: 20px;
    justify-content: center;
}

.productosTable .botonEliminar,
.botonEliminar {
    background-color: #f44336;
}

.botonEnviar {
    background-color: #007bff;
}

.productosTable .botonModificar:hover,
.productosTable .botonEliminar:hover {
    opacity: 0.8;
}





/*ESTILOS ESCRITORIOS PARA PAGINA ADMINISTRADOR DE USUARIOS */




/*ESTILOS PERFIL USUARIO (ESCRITORIO) */

.mainUserProfile {
    color: white;
    background: linear-gradient(to right top, #0000008a, #0000008a), url(../images/pages/user-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #171717;
    color: #ffffff;
    gap: 20px;

    .tituloPrincipal {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .navegacion {
        display: flex;
        justify-content: center;
        align-items: center;

        .listaNav {
            list-style: none;
            display: flex;
            align-items: center;

            .listaItem {
                margin-left: 20px;

                .linkNav {
                    text-decoration: none;
                    color: #ffffff;
                    font-weight: 700;
                    font-size: 1.2rem;
                }

                .administradorPeliculas {
                    background-color: #171717;
                    color: white;
                    padding: 0.5rem 1rem;
                    border-radius: 15px;
                    font-size: 50px;

                    &:hover {
                        background-color: #F1FF83;
                        color: #171717;
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}

.formUser {
    padding: 8px 12px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    justify-content: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.tableProfile {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tableProfile th,
.tableProfile td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333333;
    font-size: 22px;
}

.tableProfile th {
    background-color: #333333;
}

.tableProfile td a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.tableProfile td a:hover {
    color: #F1FF83;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.button:hover {
    background-color: #ccc;
}

.tableProfile td .inputProfile {
    padding: 10px;
    text-align: left;
    border: none;
    font-size: 22px;
    background-color: #171717;
    color: #fff;
    width: auto;
}



































/*ESTILOS PERFIL USUARIO (CELULAR Y TABLER) */

@media (max-width: 768px) {
    .mainUserProfile {
        height: auto;
        padding: 30px 15px;
        gap: 15px;

        .tituloPrincipal {
            font-size: 1.6rem;
        }

        .navegacion .listaNav {
            flex-direction: column;
            gap: 10px;
            align-items: center;

            .listaItem {
                margin-left: 0;
                margin-bottom: 10px;

                .linkNav {
                    font-size: 1rem;
                }

                .administradorPeliculas {
                    font-size: 30px;
                    padding: 0.4rem 0.8rem;
                }
            }
        }
    }

    .buscadorPrincipal {
        height: 30vh;

        .tituloSection {
            font-size: 1.6rem;
        }
    }

    .textData {
        font-size: 14px !important;
    }

    .coinInfo {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 8px;
    }

    .coinIcon {
        width: 100px !important;
        height: 100px !important;
    }

    .textCoin {
        font-size: 22px !important;
        padding: 10px !important;
    }

    .titleCoin {
        font-size: 22px !important;
        background-color: #4CAF50;
        padding: 7px !important;
        border-radius: 10px;
        font-weight: bold;
        color: #171717;
    }

    .coinsEarned {
        color: #007bff;
        font-weight: bold;
    }

    .spentCoins {
        color: #d9534f;
        font-weight: bold;
    }

    .separador {
        margin-top: 50px !important;
    }


    .formUser {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    .container {
        padding: 10px;
        max-width: 90%;
    }

    .tableProfile {
        font-size: 16px;
    }

    .tableProfile th,
    .tableProfile td {
        font-size: 16px;
        padding: 8px;
    }

    .tableProfile td .inputProfile {
        font-size: 16px;
        width: 100%;
    }

    .tableProfile td a {
        margin-left: 0;
        display: block;
        margin-top: 5px;
    }

    .button-group {
        flex-direction: column;
        gap: 10px;
        align-items: stretch;
    }

    .button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}























.navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .listaNav {
        list-style: none;
        display: flex;
        align-items: center;

        .listaItem {
            margin-left: 20px;

            .linkNav {
                text-decoration: none;
                color: #ffffff;
                font-weight: 700;
            }

            .administradorPeliculas {
                background-color: #171717;
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 15px;
                font-size: 32px;

                &:hover {
                    background-color: #F1FF83;
                    color: #171717;
                    transform: scale(0.95);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    border-radius: 15px;
                }
            }
        }
    }

    .buscadorPrincipal {
        background-color: #171717;
        color: rgb(255, 255, 255);
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tituloSection {
            font-size: 2rem;
            font-weight: 700;
            margin-top: 3.5rem;
        }
    }
}

hr {
    border: 1px solid #F1FF83;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.filtroGrupo {
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 20px;
}

.filtrosUsuarios {
    margin-bottom: 20px;
    padding: 10px 0;
}

.botonFiltro {
    padding: 8px 12px;
    background-color: #d9534f;
    color: white;
    border: none;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    justify-content: center;
}

.quitarFiltros {
    padding: 8px 12px;
    background-color: #d9534f;
    color: white;
    border: none;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    justify-content: center;
}

.botonFiltro {
    padding: 8px 12px;
    background-color: #171717;
    color: white;
    border: none;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    justify-content: center;
}

.botonFiltro:hover {
    background-color: #F1FF83;
    color: #171717;
}

.navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    .listaNav {
        list-style: none;
        display: flex;
        align-items: center;

        .listaItem {
            margin-left: 20px;

            .linkNav {
                text-decoration: none;
                color: #ffffff;
                font-weight: 700;
            }

            .administradorPeliculas {
                background-color: #171717;
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 15px;
                font-size: 32px;

                &:hover {
                    background-color: #F1FF83;
                    color: #171717;
                    transform: scale(0.95);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    border-radius: 15px;
                }
            }
        }
    }
}

.coinInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.coinIcon {
    width: 300px;
    height: 300px;
}

.textCoin {
    font-size: 30px;
    padding: 10px;
}

.titleCoin {
    font-size: 36px;
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #171717;
}

.coinsEarned {
    color: #007bff;
    font-weight: bold;
}

.spentCoins {
    color: #d9534f;
    font-weight: bold;
}

.textData {
    font-size: 24px;
}

.terminos-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fffef8;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    line-height: 1.6;
}

.terminos-container h1 {
    font-size: 28px;
    text-align: center;
    color: #007bff;
    margin-bottom: 10px;
}

.terminos-container .fecha,
.faq-container .fecha {
    font-size: 14px;
    text-align: center;
    color: #888;
    margin-bottom: 30px;
}

.terminos-container h2 {
    font-size: 20px;
    margin-top: 25px;
    color: #444;
    border-left: 5px solid #007bff;
    padding-left: 10px;
}

.terminos-container p {
    font-size: 16px;
    margin-top: 10px;
}

.volver-container {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.btn-volver {
    padding: 10px 30px;
    background-color: #171717;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-volver:hover {
    background-color: #F1FF83;
    color: #171717;
}

.faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background: #fffef8;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    font-family: 'Segoe UI', sans-serif;
}

.faq-container h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 30px;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-question {
    width: 100%;
    text-align: left;
    padding: 15px;
    font-size: 17px;
    background-color: #3399ff;
    color: #fff3e0;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #1565c0;
}

.faq-answer {
    display: none;
    padding: 15px;
    margin-top: 5px;
    background-color: #5dade2;
    border-left: 4px solid #007bff;
    border-radius: 8px;
    color: #000000;
    line-height: 1.5;
}

.volver-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.ayuda-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fdfaf4;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.ayuda-container h1 {
    color: #007bff;
    text-align: center;
    margin-bottom: 25px;
}

.ayuda-container h2 {
    color: #248af8;
    margin-top: 25px;
    margin-bottom: 10px;
}

.ayuda-container ul {
    padding-left: 20px;
    list-style-type: none;
}

.ayuda-container ul li::before {
    content: "✔️ ";
    margin-right: 5px;
}

.botonMail {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
}

.botonMail:hover {
    opacity: 0.8;
}