<body class="bodyRegistrarse">
    <header class="headerRegister"></header>
    <header class="headerRegistrarse">
        <a class="anclaLogo" href="/">
            <i class="fas fa-coins" aria-hidden="true"></i>
            <span>CHIQUI COINS</span>
        </a>

        <main id="main" class="main">
            <section data-aos="zoom-in" data-aos-duration="1000" class="seccionRegistrarse">
                <form action="/register" method="post">
                    <h2 class="tituloRegistrarse">Registro</h2>
                    <div>
                        <input type="text" placeholder="Nombre" id="nombre" name="nombre">
                        <div class="error-text"></div>
                    </div>
                    <div>
                        <input type="text" placeholder="Apellido" id="apellido" name="apellido">
                        <div class="error-text"></div>
                    </div>
                    <div>
                        <input type="email" placeholder="Email" id="email" name="email">
                        <div class="error-text"></div>
                    </div>
                    <div>
                        <input type="password" placeholder="Contraseña" id="password" name="password">
                        <div class="error-text"></div>
                    </div>
                    <div>
                        <select name="colegio" id="colegio">
                            <option value="Thomas Jefferson">Thomas Jefferson</option>
                            <option value="Sarmiento">Sarmiento</option>
                        </select>
                        <div class="error-text"></div>
                    </div>
                        <div>
                        <select name="curso" id="curso">
                            <option value="1">Primero</option>
                            <option value="2">Segundo</option>
                            <option value="3">Tercero</option>
                            <option value="4">Cuarto</option>
                            <option value="5">Quinto</option>
                            <option value="6">Sexto</option>
                        </select>
                        <div class="error-text"></div>
                    </div>
                    <div>
                        <input class="boton" type="submit" value="Registrarse">
                    </div>
                    <div id="error-message" class="error-message" style="display: none;"></div>
                </form>
            </section>
        </main>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <script src="../../public/js/registrationValidation.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                const error = '{{error}}';
                if (error) {
                    const errorMessageDiv = document.getElementById('error-message');
                    errorMessageDiv.textContent = error;
                    errorMessageDiv.style.display = 'block';

                    setTimeout(() => {
                        errorMessageDiv.style.display = 'none';
                    }, 3000);
                }
            });
        </script>

        <style>
            .error-message {
                color: red;
                margin-top: 10px;
            }
        </style>
</body>